<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <!-- File Target with structured JSON output -->
        <target xsi:type="File" name="fileTarget"
                fileName="logs/${date:format=yyyy}/${date:format=MM}/logfile-${date:format=yyyy-MM-dd}.json"
                archiveFileName="logs/${date:format=yyyy}/${date:format=MM}/archive/logfile-{#}.json"
                maxArchiveFiles="30"
                layout='{
              "timestamp": "${longdate}",
              "errorNumber": "${event-properties:ErrorNumber}",
              "exceptionClass": "${event-properties:ExceptionClass}",
              "exceptionMethod": "${event-properties:ExceptionMethod}",
              "logLevel": "${level}",
              "message": "${message}",
              "stackTrace": "${exception:format=StackTrace}"
            }' />

        <!-- Console Target with conditional text output -->
        <target xsi:type="Console" name="consoleTarget"
                layout="${shortdate} [${level}] ${message} &#13;&#10;
                    ${event-properties:ErrorNumber:ifEmpty='' :inner='| Error No: ${event-properties:ErrorNumber}'} 
                    ${event-properties:ExceptionClass:ifEmpty='' :inner='| ExceptionClass: ${event-properties:ExceptionClass}'} 
                    ${event-properties:ExceptionMethod:ifEmpty='' :inner='| ExceptionMethod: ${event-properties:ExceptionMethod}'} 
                    ${exception:format=StackTrace:ifEmpty='' :inner='| StackTrace: ${exception:format=StackTrace}'}" />
    </targets>
    <rules>
        <!-- File logging for Error level and above -->
        <logger name="*" minlevel="Error" writeTo="fileTarget" />

        <!-- Console logging for Info level and above -->
        <logger name="*" minlevel="Info" writeTo="consoleTarget" />
    </rules>
</nlog>