@import './base.css';

#app {
  padding: 0 2rem;
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

body {
  display: flex;
  place-items: center;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-background);
    background-color: var(--color-primary);
    filter: brightness(85%);
  }
}

  body {
    display: block;
  }
